<app-header></app-header>

<!-- Start Why Choose Us Section -->
<div class="why-choose-section">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-lg-6">
                <h2 class="section-title">Why Choose Us</h2>
                <p>We provide cheaper medicines online sell. Because of COVID-19, Everyone has right to get medicines in cheper price and faster.</p>

                <div class="row my-5">
                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <i class="fa-solid fa-truck" style="color: black;font-size: 30px;"></i>
                            </div>
                            <h3>Fast &amp; Free Shipping</h3>
                            <p>We are the best sellers of medicines. Also no delivery charges if you buy more than just 10 pounds.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <i class="fa-solid fa-bag-shopping" style="color: black;font-size: 30px;"></i>
                            </div>
                            <h3>Easy to Shop</h3>
                            <p>From this website, It is very easy to shop as this is the same as e-commerce website.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <i class="fa-solid fa-handshake" style="color: #111212;font-size: 30px;"></i>
                            </div>
                            <h3>24/7 Support</h3>
                            <p>Also we provide 24/7 support to any customers. We will help regarding medicine purchase.</p>
                        </div>
                    </div>

                    <div class="col-6 col-md-6">
                        <div class="feature">
                            <div class="icon">
                                <i class="fa-solid fa-rotate-right" style="color: #070808; font-size: 30px;"></i>
                            </div>
                            <h3>Hassle Free Returns</h3>
                            <p>It is easy to return as well.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-lg-5">
                <div class="img-wrap">
                    <img src="assets/images/tabs.jpeg" class="img-fluid">
                </div>
            </div>

        </div>
    </div>
</div>
<!-- End Why Choose Us Section -->

<app-footer></app-footer>